<script>
    function add_giscus() {
        var giscusScript = document.createElement('script');

        giscusScript.src = "https://giscus.app/client.js";
        giscusScript.setAttribute("data-repo", "{{ config.data_repo }}");
        giscusScript.setAttribute("data-repo-id", "{{ config.data_repo_id }}");
        giscusScript.setAttribute("data-category", "Announcements");
        giscusScript.setAttribute("data-category-id", "{{ config.data_category_id }}");
        giscusScript.setAttribute("data-mapping", "pathname");
        giscusScript.setAttribute("data-strict", "1");
        giscusScript.setAttribute("data-reactions-enabled", "1");
        giscusScript.setAttribute("data-emit-metadata", "0");
        giscusScript.setAttribute("data-input-position", "top");
        giscusScript.setAttribute("data-theme", "preferred_color_scheme");
        giscusScript.setAttribute("data-lang", "zh-CN");
        giscusScript.setAttribute("data-loading", "lazy");
        giscusScript.crossOrigin = "anonymous";
        giscusScript.async = true;

        var palette = __md_get("__palette");
        if (palette && typeof palette.color === "object") {
            var theme = palette.color.scheme === "slate" ? "transparent_dark" : "light";
            giscusScript.setAttribute("data-theme", theme);
        }

        document.head.appendChild(giscusScript);
    }

    function load_giscus() {
        document$.subscribe(({ body }) => {
            add_giscus();
        });

        document.querySelector("[data-md-component=palette]").addEventListener("change", function() {
            var palette = __md_get("__palette");
            if (palette && typeof palette.color === "object") {
                var theme = palette.color.scheme === "slate" ? "transparent_dark" : "light";
                var frame = document.querySelector(".giscus-frame");
                if (frame && frame.contentWindow) {
                    frame.contentWindow.postMessage({ giscus: { setConfig: { theme } } }, "https://giscus.app");
                }
            }
        });
    }
</script>