html {
    scroll-behavior: smooth;
}

.glightbox img, img {
    display: block;
    margin: auto;
}

.katex-display {
    margin-top: -1.5em !important;
    margin-bottom: -1.5em !important;
}

.md-typeset div.arithmatex {
    overflow: hidden !important;
}

.md-header__topic:first-child {
    font-weight: initial !important;
}

details .linenos,
details code,
.admonition code {
    font-size: inherit !important;
}

.md-typeset__table {
    display: block !important;
}

.md-typeset table:not(.highlighttable) {
    display: table !important;
}

.md-typeset table:not([class]) th {
    min-width: 0rem;
}
