@import url("../fonts/FZXSS-Lusitana-Hybrid/result.css");
@import url("../fonts/FangZhengXinShuSongFan/result.css");
@import url("../fonts/ZenOldMincho-Regular/result.css");
@import url("../fonts/ZenOldMincho-Bold/result.css");

:root {
    --md-code-font: 'Fira Code', 'Source Code Pro', 'Noto Sans', 'Noto Sans SC', 'Noto Sans CJK SC';
    --md-text-font: "FZNewShuSong", "FZNew ShuSongB-Z10", "Zen Old Mincho", "Noto Serif", "Noto Serif CJK SC";
}

.md-typeset table:not([class]) th {
    min-width: 0rem;
}

.md-nav__link--active {
    color: inherit;
}

blockquote.page-copyright {
    margin: 20px 0;
    padding-left: 1.5rem;
    border-left: 5px solid #ff1700;
    /* Just change the color value and that's it*/
}

.gt-container .gt-meta {
    z-index: auto !important;
}

@media print {
    .no-print { display: none !important; }
    code, pre { white-space: pre-wrap; overflow: hidden; }
}

/* a {
    text-decoration: underline;
} */

a:hover {
    filter: invert(0.2); /* 反转颜色 */
}

h2, h3 {
    text-align: center;
}

@media print{
    h1{
        text-align: center;
    }
}

nowrap {
    white-space: nowrap;
    word-break: keep-all;
}
